

nav {
height: 80px;
display: flex;
margin-bottom: 80px;
}

ul {

}

li {

}

a {
text-decoration: none;
}


.row {
width: 100%;
max-width: 1200px;
margin: 0 auto;
}

.nav__row {
 width: 100%;
  max-width: 1200px;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.nav__logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.nav__logo--img {
width: 60px;
display: flex;
justify-content: right;
align-items: center;
}

.nav__logo--title {
font-size: 40px;
display: flex;
flex-direction: column;
margin-left: 8px;
}

.nav__links {
display: flex;
gap: 24px;
list-style: none;
margin: 0 0 0 32px;
padding: 0;
}

.nav__link {

}

.header__container {
display: flex;
justify-content: center;
align-items: center;
}

.header__desription {
max-width: 300px;
}

.header__description--para {
flex-wrap: wrap;
max-width: 400px;
}

.header__email {

}

.header__email--input {

}

.header__email--btn {

}

.header__customers--title {

}

.header__customers {
width: 25%;
}

.header__img--wrapper {
display: flex;
justify-content: center;
align-items: center;
max-width: 800px;
}

.header__img {
width: calc(100% / 3);
display: flex;
justify-content: center;
align-items: center;
}

