@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #243e63;
}
/* #landing section */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
}

p {
  display: block;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  margin: 12px 0;
}

h4 {
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
}

div {
  display: block;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  margin: 12px;
  padding: 12px;
}

.purple {
  color: #6415ff;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.nav__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.nav__logo {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

.nav__logo--img {
  width: 50px;
  height: 50px;
}

.nav__logo--title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 0.5rem;
  flex-direction: row;
}

.nav__links {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 12px;
  list-style: none;
}

.nav__link {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 12px;
  gap: 20px;
}

.nav__link--primary {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  gap: 20px;
  background-color: #6415ff;
  color: #fff;
  border-radius: 9999px;
  line-height: 1.5;
  border: none;
  width: auto;
}

.header__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  gap: 12px;
  margin: 20px;
  padding-top: 12px;
}

.header__title {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
  padding: 12px;
}

.header__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin: 12px;
  padding: 12px;
}

.header__subtitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin: 12px;
  padding: 12px;
}

.header__email {
  width: 100%;
  max-width: 448px;
  height: 68px;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__email--input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin: 12px;
  padding: 20px 192px 20px 32px;
  border: 1px solid #ccc;
  border-radius: 500px;
  outline: none;
  box-sizing: border-box;
}
.header__email--cta {
  height: calc(100% - 16px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6415ff;
  color: #fff;
  margin: 12px;
  padding: 12px;
  border: none;
  border-radius: 8px;
}

.header__image--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: 12px;
  padding: 12px;
  flex-direction: column;
  gap: 12px;
}

.header__image {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: auto;
  flex-direction: column;
}

/* #features section */

.features__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin: 12px;
  padding: 96px 0;
}

.row__narrow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  max-width: 1024px;
  gap: 12px;
  margin: 0 auto;
  padding: 12px;
}

.features__section--title {
  color: rgb(100, 21, 255);
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.6px;
}

.features__section--subtitle {
  text-align: center;
  font-weight: 900;
  color: rgb(36, 62, 99);
  font-size: 48px;
  margin: 8px 0;
  line-height: 1.5;
  letter-spacing: 1px;
}

.features__section--para {
  text-align: center;
  line-height: 1.5;
  max-width: 576px;
  margin: 0 auto;
  padding: 12px;
  font-size: 18px;
}

.features {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}

.feature {
  width: calc(100% / 3);
}

.feature__row {
  display: flex;
  align-items: flex-start;
  padding: 32px 24px;
}

.feature__text {
  margin-top: 8px;
  margin-left: 16px;
}

.feature__para {
  margin-top: 16px;
  font-size: 16px;
  max-width: calc(634px / 3);
  color: rgb(124, 139, 161);
  line-height: 2;
  font-weight: 500;
}

/* QUALITY */

.quality__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-bottom: 64px;
  padding: 96px 0;
}

.quality__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.quality__section--tag {
  font-size: 16px;
  color: rgb(124, 139, 161);
  text-transform: uppercase;
  letter-spacing: 1.6px;
  font-weight: 700;
  color: #7caba1;
}

.quality__section--title {
  font-size: 48px;
  font-weight: 900;
  color: rgb(36, 62, 99);
  margin: 8px 0;
  line-height: 1.5;
  letter-spacing: 1px;
}

.quality__section--para {
  text-align: left;
  line-height: 1.5;
  max-width: 576px;
  margin: 0 auto;
  padding: 12px;
  font-size: 18px;
}

.quality__description,
.quality__img--wrapper {
  width: 50%;
}

.quality__description {
  max-width: 567px;
  text-align: left;
  padding: 12px;
  margin-right: 64px;
  text-wrap: wrap;
}

.quality__img--wrapper {
  border-radius: 4px;
  border: 1px solid rgb(229, 231, 235);
  display: flex;
  position: relative;
  justify-content: center;
  margin: 0 56px;
  z-index: 2;
}

.quality__img {
  z-index: 1;
}

.quality__grid {
  transform: translateX(50%) translateY(50%) scaleX(1) scaleY(1);
  width: 80px;
  height: 80px;
  position: absolute;
  right: 0px;
  bottom: 0px;
  fill: rgb(100, 21, 255);
  --tw-text-opacity: 1;
  color: rgba(100, 21, 255, var(--tw-text-opacity));
  z-index: 0;
  display: block;
}

img {
  width: 100%;
}

.quality__btn {
  background-color: #6415ff;
  color: #fff;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 500px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.quality__btn:hover {
  background-color: #4b0fcf;
}

/* STEPS */

#steps {
  padding: 0 32px;
}

.steps__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-bottom: 64px;
  padding: 96px 0;
}

.steps__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.steps__description {
  width: 50%;
  max-width: 567px;
  text-align: left;
  padding: 12px;
  margin-right: 64px;
  text-wrap: wrap;
}

.steps__img--wrapper {
  width: 50%;
  border-radius: 4px;
  border: 1px solid rgb(229, 231, 235);
  display: flex;
  position: relative;
  justify-content: center;
  margin: 0 56px;
  z-index: 2;
}

.steps__img {
  z-index: 2;
}

img {
  width: 100%;
}

.steps__list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.step {
  display: flex;
  align-items: flex-start;
  margin-top: 32px;
}

.steps__grid {
  position: absolute;
  transform: translateX(50%) translateY(50%) scaleX(1) scaleY(1);
  opacity: 0.8;
  z-index: -10;
  display: block;
  width: 80px;
  height: 80px;
  --tw-text-opacity: 1;
  color: rgba(100, 21, 255, var(--tw-text-opacity));
  right: 0px;
  bottom: 0px;
  fill: rgb(100, 21, 255);
}

.steps__section--tag {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.steps__section--title {
  font-size: 48px;
  font-weight: 900;
  margin: 16px 0;
  line-height: 1.5;
  color: rgb(36, 62, 99);
  letter-spacing: 0.025em;
}

.step__number {
  font-size: 36px;
  font-weight: 600;
  color: #cbd5e0;
  margin-right: 16px;
}

.step__description {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  max-width: 320px;
}

.step__title {
  font-size: 20px;
  font-weight: 600;
  color: #243e63;
  line-height: 1;
}

.step__para {
  font-size: 14px;
  color: #718096;
  line-height: 2;
  font-weight: 500;
  margin-top: 12px;
}

/* VALUES SECTION */

.values__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-bottom: 64px;
  padding: 96px 0;
}

.values__row {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 60%;
  max-width: 1280px;
  margin-left: 32px;
  padding: 32px 64px 32px 0;
}

.values__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  max-width: 567px;
  margin-right: 64px;
  margin-left: 32px;
  text-wrap: wrap;
  border-style: none;
}

.values__section--tag {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.values__section--title {
  font-size: 48px;
  font-weight: 900;
  margin: 16px 0;
  line-height: 1.5;
  color: rgb(36, 62, 99);
  letter-spacing: 0.025em;
}

.values__section--para {
  font-size: 14px;
  color: #718096;
  line-height: 2;
  font-weight: 500;
  margin-top: 12px;
}

.values__list {
  display: flex;
  flex-direction: row;
  gap: 24px;
  justify-content: center;
  align-items: center;
  padding-top: 24px;
  max-width: none;
  margin-left: 32px;
  margin-right: 0;
}

.value {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
  padding: 24px;
  border: 1px solid rgb(229, 231, 235);
  border-radius: 4px;
}

.value__img--wrapper {
  width: 40%;
  border-radius: 4px;
  border: 1px solid rgb(229, 231, 235);
  display: flex;
  position: relative;
  justify-content: center;
  margin: 0 56px;
  z-index: 2;
}

.values__img {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.values__img {
  width: 50%;
}

.value__img {
  width: 20px;
  height: 20px;
  display: flex;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.value__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 24px;
  border: 1px solid rgb(229, 231, 235);
  border-radius: 4px;
}

.value__name {
  font-size: 20px;
  font-weight: bold;
  margin-left: 12px;
}

.value__para {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: #718096;
  line-height: 2;
  font-weight: 500;
  margin-top: 12px;
}

.btn {
  background-color: #6415ff;
  padding: 12px 32px;
  border: none;
  border-radius: 500px;
  font-size: 14px;
  color: #fff;
  font-weight: bold;
  transition: all 300ms ease;
  cursor: pointer;
  margin-top: 16px;
}

.btn:hover {
  background-color: #4b0fc4;
}

/* PRICING SECTION*/

.pricing__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 32px;
}

.pricing__row {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: center;
  padding-top: 24px;
}

.pricing__section--tag {
  font-size: 16px;
  font-weight: bold;
  color: #718096;
  text-transform: uppercase;
}

.pricing__section--title {
  font-size: 48px;
  font-weight: 900;
  margin: 16px 0;
  line-height: 1.5;
  color: rgb(36, 62, 99);
  letter-spacing: 0.025em;
}

.pricing__section--para {
  font-size: 18px;
  color: #718096;
  line-height: 2;
  font-weight: 500;
  margin-top: 4px;
  text-align: center;
  max-width: 600px;
}

.plans {
  display: flex;
  position: relative;
  justify-content: space-between;
  width: 100%;
}

.plan {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
  border: 1px solid rgb(229, 231, 235);
  border-radius: 8px;
  background-color: #fff;
  transition: all 300ms ease;
  width: calc(
    33.333% - 16px
  ); /* Adjust the width as needed for three columns with gap */
}

.plan:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.plan__stripe {
  height: 4px;
  background-color: #6415ff;
  border-radius: 2px;
  margin-bottom: 16px;
}

.plan__top {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}

.plan__title {
  font-size: 24px;
  font-weight: bold;
  color: rgb(36, 62, 99);
}

.plan__price {
  font-size: 20px;
  font-weight: bold;
  color: #6415ff;
}

.plan__duration {
  font-size: 14px;
  color: #718096;
}

.plan__middle {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}

.plan__target {
  font-size: 18px;
  font-weight: bold;
  color: rgb(36, 62, 99);
}

.plan__bottom {
  display: flex;
  justify-content: center;
}

.plan__button {
  background-color: #6415ff;
  padding: 12px 32px;
  border: none;
  border-radius: 500px;
  font-size: 14px;
  color: #fff;
  font-weight: bold;
  transition: all 300ms ease;
  cursor: pointer;
}

.plan__button:hover {
  background-color: #4b0fc4;
}

.plans__blob {
  z-index: -10;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateX(-50%) translateY(50%) scaleX(1) scaleY(1);
  height: 256px;
  width: 256px;
  opacity: 0.25;
}

/* TESTIMONIALS SECTION */

.testimonials__container {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  padding: 64px 0;
  background-color: #f9fafb;
  align-items: center;
  max-width: 1200px;
}

.testimonials__title {
  font-size: 36px;
  font-weight: 900;
  color: rgb(36, 62, 99);
  text-align: center;
  margin-bottom: 16px;
}

.testimonials__row {
  display: flex;
  align-items: flex-end;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 0 auto;
  margin-right: 0 auto;
}

.testimonials__img {
  flex: 1;
  max-width: 40%;
  height: auto;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.testimonial__description {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
  align-items: center;
  max-width: 400px;
  text-align: center;
}

.testimonials__section--tag {
  font-size: 16px;
  color: #6415ff;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.6px;
}

.testimonials__section--title {
  font-size: 48px;
  font-weight: 900;
  color: rgb(36, 62, 99);
  text-align: center;
  text-wrap: none;
}

.testimonial__rating {
  display: inline;
}

.testimonial:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.testimonial__content {
  font-size: 16px;
  color: #4a5568;
  text-align: center;
}

.testimonial__author {
  font-size: 14px;
  font-weight: bold;
  color: rgb(36, 62, 99);
  margin-top: 8px;
}

.testimonial__profile {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: right;
}

.testimonial__profile-img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
}

.testimonial__button {
  background-color: #6415ff;
  padding: 8px 16px;
  border: none;
  border-radius: 500px;
  font-size: 14px;
  color: #fff;
  font-weight: bold;
  transition: all 300ms ease;
  cursor: pointer;
}
.testimonial__button:hover {
  background-color: #4b0fc4;
}

/* START SECTION */

.start__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 0;
  background-color: #f9fafb;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.start__row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
}

.start__title {
  font-size: 48px;
  font-weight: 900;
  color: rgb(36, 62, 99);
  text-align: center;
  margin-bottom: 16px;
}

.start__description {
  font-size: 16px;
  color: #4a5568;
  text-align: center;
  max-width: 600px;
  margin-bottom: 32px;
}

.start__button {
  background-color: #6415ff;
  padding: 12px 24px;
  border: none;
  border-radius: 500px;
  font-size: 16px;
  color: #fff;
  font-weight: bold;
  transition: all 300ms ease;
  cursor: pointer;
}
.start__button:hover {
  background-color: #4b0fc4;
}

.start__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: rgb(100, 21, 255);
  padding: 96px 0;
  width: 100%;
  border-radius: 8px;
}

.start__content--row {
  display: flex;
  justify-content: center;
  padding: 0 32px;
  width: 100%;
  margin: 0 auto;
  max-width: 1024px;
}

.start__blob--1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  opacity: 0.5;
  transform: translate(-5rem, 8rem);
}
